@tailwind base;
@tailwind components;
.button { @apply inline-block m-2 p-2 rounded-md bg-green-400; }
@tailwind utilities;

.card{
    background-color:rgb(14 116 144);
    color: white
}

.card.htmx-swapping {
    background-color:rgb(147 197 253);
    color: black;
    transition:background-color 500ms linear, color 300ms ease-in;
}

.Q-animation-holder{
    width: var(--width);
    height: var(--height);
    left: var(--x);
    bottom: var(--y); 
    transform:  scale(var(--Ratiox),var(--Ratioy)); /* translate(var(--x), var(--x)) */
  }

.Q-animation{
    transition:  all 2s; 
    z-index: 10; /* Ensure it appears on top */    
    left: 0;
    bottom: 0;
    transform: scale(1,1); /* translate(var(--x), var(--x)) */
}
