{{ block "host" .}}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Jeopardy Main Page</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://unpkg.com/htmx.org/dist/htmx.min.js"></script>
        <script src="https://unpkg.com/htmx-ext-ws@2.0.1/ws.js"></script>
        <script src="./scripts/question-animation.js"></script>
    </head>
    <body hx-ext="ws" ws-connect="/wshost" class="bg-gradient-to-tr from-blue-950 from-50% to-blue-900 h-screen">
        <div class="container mx-auto">
            <div  class="text-4xl text-center text-white">JEOPARDY HOST</div>
            {{template "host-table" .}}
            <div id="teams" class="flex justify-around gap-4 text-center max-w-7xl mx-auto align-middle">
            
            </div>
            <div class="flex justify-around gap-4 text-center max-w-7xl mx-auto align-middle">
                {{template "reveal-button" .}}
            </div>
        </div>
    </body>
</html>
{{end}}

{{block "host-table" .}}
        <div id="cards" class=" grid grid-flow-col grid-rows-[auto,repeat(5,1fr)] auto-cols-fr gap-4 text-center max-w-7xl mx-auto text-4xl text-white overflow-hidden relative">
            {{template "titles" .}}
            {{template "host-columns" .}}
        </div>
{{end}}

{{block "host-columns" .}}
{{$categories := .}}
<div id="cards-subgrid" class="grid grid-rows-subgrid grid-flow-col row-span-5 col-span-6 overflow-hidden relative gap-4">
    {{ range $category := $categories}}
        {{range $card := $category.Cards}}
            <div id="card{{$card.ID}}" hx-post="/question/{{$card.ID}}" hx-swap="outerHTML" hx-vals='{"number": "{{ .Number }}"}' class="bg-cyan-700 rounded-md py-3 flex justify-center items-center cursor-pointer card">
                    {{$card.Number}}
                </div>
        {{end}}
        {{template "Q-animation" .}}
    {{end}}

</div>
{{end}}

{{block "host-question-cover" .}}
<div id="question-cover" class="absolute bottom-0 grid grid-cols-2 auto-cols-fr text-center items-center rounded-md justify-between min-w-full cursor-default bg-blue-300 p-8 min-h-full opacity-100 z-20"> 
    {{template "test-question" .}}
    {{template "test-answer" .}}
</div>
<div class="rounded-md py-3 flex justify-center items-center opacity-0"></div>
{{end}}


{{block "test-question" .}}
<div id="question" class="flex flex-col items-center justify-between border-r-2 h-full">
    <div class="text-3xl border-b-2 w-[90%]">PREGUNTA</div>
    <div class="text-2xl">
        {{.Question}}
    </div>
    {{if .HasAImg}}
            <div>
                <img src="./imgs/{{.QImgName}}" alt="" class="max-h-52 brightness-0">
            </div>
        {{end}}
</div>    
{{end}}

{{block "test-answer" .}}
<div id="question" class="flex flex-col items-center justify-between content-between h-full">
    <div class="text-3xl border-b-2  w-[90%]">RESPUESTA</div>
    <div>
        {{.Answer}}
    </div>
    {{if .HasAImg}}
            <div>
                <img src="./imgs/{{.AImgName}}" alt="" class="max-h-52">
            </div>
        {{end}}
</div>    
{{end}}

{{ block "host-team" . }}
    <div id="team" class="text-white opacity-100 w-1/4 flex flex-col justify-center items-center">
        <div class="border-b-2 border-white w-full">qwerty</div>
        {{template "test-points" .}}
        {{template "addpoints" .}}
    </div>
{{end}}

{{ block "test-host-team" . }}
    <div id="team" class="text-white opacity-100 w-1/4 flex flex-col justify-center items-center">
        <div class="border-b-2 border-white w-full"> {{.Name}}</div>
        {{template "test-points" .}}
        {{template "addpoints" .}}
    </div>
{{end}}

{{block "addpoints" .}}
<button hx-swap="outerHTML" hx-post="/host/addpoints/team_id/question_id" class="border-2 border-green-900 w-1/2 bg-green-600 hover:cursor-pointer py-1 hover:bg-green-700">  Add Points  </button>
{{end}}

{{block "test-points" .}}
<div id="test-points">0 Points</div>
{{end}}

{{block "reveal-button" .}}
<div  class=" text-white opacity-100 w-[10%] flex flex-col justify-center">
    <button id="reveal-button" hx-swap="outerHTML" hx-trigger="click" ws-send class="border-2 border-green-900 bg-green-600 px-4 hover:cursor-pointer hover:bg-green-700">  Reveal Answer  </button>
</div>
{{end}}

{{block "hostdeletedquestion" .}}
<div id="deletedquestion{{.ID}}" hx-post="clientrevealquestion/{{.ID}}" hx-swap="outerHTML" hx-trigger="revealed delay:2s" class="rounded-md py-3 flex justify-center items-center opacity-0">100</div>
{{end}}
