{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jeopardy Main Page</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org/dist/htmx.min.js"></script>
</head>
<body class="bg-cyan-700">
    <div class="container mx-auto">
        <div class="text-xl text-center">JEOPARDY</div>
        {{template "table" .}}

        <div id="teams" class="flex justify-around p-2 gap-4 text-center max-w-7xl mx-auto align-middle">
            
            {{template "add-team" .}}

        </div>
    </div>
</body>
</html>
{{ end }}

{{ block "teams" .}}
    {{template "add-team" .}}
{{ end }}

{{ block "add-team" . }}
    <div id="add-team" class="bg-blue-950 text-white animate-pulse hover:animate-none pb-2 w-3/12">
        <div>Add Team?</div>
        <div>
            <button hx-swap="outerHTML" hx-target="#add-team" hx-post="/add-team" hx-vals='{"add":"yes"}' class="border-2 border-green-900 bg-green-600 px-4 hover:cursor-pointer">  Yes  </button>
            <button hx-swap="outerHTML"hx-target="#add-team" hx-post="/add-team" hx-vals='{"add":"no"}' class="border-2 border-red-900 bg-red-600 px-4 hover:cursor-pointer">  No!  </button>
        </div>
    </div>
{{end}}

{{ block "oob-add-team" . }}
    <div id="teams" hx-swap-oob="beforeend" >
        <div id="add-team"  class="bg-blue-950 text-white animate-pulse hover:animate-none pb-2 w-3/12">
            <div>Add Team?</div>
            <div>
                <button hx-swap="outerHTML" hx-target="#add-team" hx-post="/add-team" hx-vals='{"add":"yes"}' class="border-2 border-green-900 bg-green-600 px-4 hover:cursor-pointer">  Yes  </button>
                <button hx-swap="outerHTML"hx-target="#add-team" hx-post="/add-team" class="border-2 border-red-900 bg-red-600 px-4 hover:cursor-pointer">  No!  </button>
            </div>
        </div>
    </div>
{{end}}

{{ block "team-form" . }}
    <div id="team-form" class="flex flex-col px-8 w-3/12">
        <form hx-post="/teams" hx-swap="outerHTML"hx-target="#team-form">
            Team Name: <input type="text" name="name" class="text-black">
            <button type="submit">Submit team</button>
        </form>
    </div>
{{end}}

{{ block "team" . }}
    <div class="divide-y-2 divide-black opacity-100 w-3/12 flex flex-col justify-center">
        <div>{{.Name}}</div>
        <div id="points">{{.Points}} Points</div>
{{end}}

{{block "table" .}}
        <div id="cards" class="bg-black grid grid-flow-col grid-rows-[auto,repeat(5,1fr)] auto-cols-fr p-2 gap-2 text-center max-w-7xl mx-auto text-4xl text-white empty:hidden">
            {{template "test-column" .}}
        </div>
{{end}}

{{block "test-column" .}}
{{$categories := .}}
    {{ range $category := $categories}}
        <div class="bg-blue-950 py-4 flex justify-center items-center">
            <span>{{$category.Title}}</span>
        </div>

        {{range $card := $category.Cards}}
            <div class="bg-blue-950 py-4 flex justify-center items-center">
                <span>{{$card.Number}}</span>
            </div>
        {{end}}
    {{end}}
{{end}}



    
{{ block "nothing" .}}
{{end}}

